.marked-users {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flex-control {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
}
.DateTimeNow {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toPC {
    color: var(--primary-color);  
}

.btn-filter {
    display: flex;
    align-items: center;
    font-weight: bold;
    background: var(--primary-color);
    border: none;
    padding: 8px;
    color: var(--font-color);
    border-radius: 4px;
}

.btn-filter:focus {
    outline: none;
}

.btn-filter:hover {
    background: var(--secondary-color);
    transition: 0.4s;
    cursor: pointer;
}

.time-costumers {
    border-top: 2px solid white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25rem;
}

.time-costumers h2 {
    margin: 20px 0;
}

.circle-status {
    height: 10px;
    width: 10px;
    border-radius: 100%
}

.green {
    background: seagreen;
}

.yellow {
    background: orange;
}

.red {
    background: red;
}

.cyan {
    background: cyan;
}

.costumer {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color-dark);
    height: 5rem;
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
    font-weight: bold;
}

.costumer-description {
    display: flex;
    align-items: center;
    gap: 10px;
}

.costumer-contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.white-circle {
    height: 6px;
    width: 6px;
    background: var(--white);
    border-radius: 100%;
}