.uk-flex {
    display: flex;
}

.uk-flex-column {
    flex-direction: column;
}

.uk-flex-center {
    justify-content: center;
}

.uk-flex-middle {
    align-items: center;
}

.uk-gap-small {
    gap: 10px;
}

.uk-none {
    display: none;
}

.uk-flex-between {
    justify-content: space-between;
}

.uk-flex-around {
    justify-content: space-around;
}