* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #77F2DE;
    --secondary-color: #00D9B6;
    --bg-color: #45444E;
    --bg-color-s: #D1D1D1;
    --bg-color-dark: #1D1D1D;
    --font-color: #3A3A3A;
    --white: #FFF;
}

body {
    background: var(--bg-color);
    color: white;
}

body, main, form, input, label {
    font-family: 'Roboto', sans-serif;
}