header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    height: 50px;
}

header a {
    text-decoration: none;
    color: var(--white);
    opacity: 0.7;
    font-size: 0.875rem;
    cursor: pointer;
}

main {
    margin: 2rem 10rem;
}
