
.displayUser {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.displayUser:hover {
    opacity: 1;
    transition: 0.4s;
}

.user-bar {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: var(--primary-color);
}