

.displayUser {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.8;
}

.displayUser:hover {
    opacity: 1;
    transition: 0.4s;
}

.user-bar{
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid var(--purple);
}