@model fastBarberTG.Models.dto.DiaSemana
@{
    Layout = null;
    ViewBag.Title = "_formDiaSemana";
}

<form class="time-control uk-flex uk-flex-column uk-flex-middle">
    <div class="uk-flex uk-flex-column">
        <label>Horario de Início</label>
        <input type="time" value="@Model.Horario_Inicio"/>
    </div>
    <div class="uk-flex uk-flex-column">
        <label>Horario de Inicio Almoço</label>
        <input type="time" value="@Model.Horario_AlmocoInicio"/>
    </div>
    <div class="uk-flex uk-flex-column">
        <label>Horario Final de Almoço</label>
        <input type="time" value="@Model.Horario_AlmocoFim"/>
    </div>
    <div class="uk-flex uk-flex-column">
        <label>Horario Final</label>
        <input type="time" value="@Model.Horario_Fim"/>
    </div>
    <div class="uk-flex uk-flex-between">
        <label style="font-size: 16px;">Dia de Funcionamento?</label>
        @if (Model.Ind_Ativo == 'S')
        {
            <input type="checkbox" style="accent-color: #77F2DE;" checked/>
        }
        else
        {
            <input type="checkbox" style="accent-color: #77F2DE;" />
        }
    </div>
    <button type="submit" class="card logout" style="margin-top: 20px;">SALVAR</button>
</form>