
@{
    Layout = null;
    ViewBag.Title = "Horario";
    <link href="~/Content/User/_UserSettings.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
}

<div class="user-menu">
    <div class="user-settings">
        <div class="closeSelection">
            <a href="/User" style="color: white;">
                <span id="CloseSettings" onclick="CloseSettings()" class="material-symbols-outlined">
                    arrow_back
                </span>
            </a>
        </div>
        <h2>Horario</h2>
        <form>
            <div>
                <label>Horário de Inicio</label>
                <input type="time"/>
            </div>
            <div>
                <label>Horário de Almoço Inicio</label>
                <input type="time" />
            </div>
            <div>
                <label>Horário de Almoço Fim</label>
                <input type="time" />
            </div>
            <div>
                <label>Horário Fim</label>
                <input type="time" />
            </div>
            <button type="submit" class="logout">SALVAR</button>
        </form>
    </div>
</div>