
@{
    Layout = null;
    ViewBag.Title = "Horarios";
}

<div class="user-menu">
    <div class="user-settings uk-flex uk-flex-middle uk-flex-center">
        <div class="closeSelection">
            <a href="/User" style="color: white">
                <span class="material-symbols-outlined">
                    arrow_back
                </span>
            </a>
        </div>
        <h1 style="text-align: center">Horario de Funcionamento</h1>
        <div class="week-buttons uk-flex uk-flex-center uk-gap-small">
            <button onclick="User.addDay(this)" value="1">S</button>
            <button onclick="User.addDay(this)" value="2">T</button>
            <button onclick="User.addDay(this)" value="3">Q</button>
            <button onclick="User.addDay(this)" value="4">Q</button>
            <button onclick="User.addDay(this)" value="5">S</button>
            <button onclick="User.addDay(this)" value="6">S</button>
            <button onclick="User.addDay(this)" value="7">D</button>
        </div>
        <div id="form-week" class="uk-none"></div>
    </div>
</div>