
@{
    ViewBag.Title = "Settings";
	<link href="~/Content/User/_UserSettings.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
}

<div id="user-menu" class="user-menu">
	<div class="user-settings">
		<div class="closeSelection">
		    <a href="/BarberControl">
		        <span class="material-symbols-outlined" style="color: white;">
		            close
		        </span>
		    </a>
		</div>
		<a class="card" >Alterar Dados Pessoais</a>
	    <a class="card" onclick="User.showHorarios()">Horario de Funcionamento</a>
		<a class="card" href="/MarcarCorte">Marcar Cortes VIA LINK</a>
		<button class="logout card">SAIR</button>
	</div>
</div>
<div id="user-requestdiv" class="uk-none"></div>

<script src="~/scripts/scriptPages/_User.js"></script>
<script>
    User.init({
        urls: {
            showHorarios: '@Url.Action("Horarios")'
        }
    })

</script>