@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Settings";
	<link href="~/Content/User/_UserSettings.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
}

<div class="user-menu">
    <div id="user-settings" class="user-settings">
        <div class="closeSelection">
            <a href="/BarberControl" style="color: white;">
                <span id="CloseSettings" onclick="CloseSettings()" class="material-symbols-outlined">
                    close
                </span>
            </a>
        </div>
        <button>ALTERAR SENHA</button>
        <button>ALTERAR EMAIL</button>
        <button onclick="user.showHorario()">HORÁRIO DE FUNCIONAMENTO</button>
        <button>
            <a href="/MarcarCorte">
                MARCAR CORTES VIA LINK    
            </a>
        </button>
        <button class="logout">SAIR</button>
    </div>
    <div id="user-requestdiv" class="uk-none"></div>
</div>

<script src="~/scripts/scriptPages/_User.js"></script>
<script>
    user.init({
        urls: {
            showHorario: '@Url.Action("Horario")',
        }
    })

</script>