
@{
    ViewBag.Title = "Settings";
	<link href="~/Content/User/_UserSettings.css" rel="stylesheet" type="text/css" />
}

<div class="user-menu">
	<div class="user-settings">
		<button>ALTERAR SENHA</button>
		<button>ALTERAR EMAIL</button>
		<button>HORÁRIO DE FUNCIONAMENTO</button>
		<button>PROCURAR CORTE</button>
		<button>MARCAR CORTES VIA LINK</button>
		<button class="logout">SAIR</button>
	</div>
</div>

