main {
    width: 100%;
    height: 100%;
    background: var(--bg-color-dark);
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Question {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
}

.button-control {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 15px;
}

.button-control button {
    padding: 10px;
    width: 100px;
    background: var(--primary-color);
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

.button-control button:hover {
    background: var(--secondary-color);
    transition: 0.4s;
    cursor: pointer;
}

#DontHaveAcc {
    width: 50rem;
    display: flex;
    justify-content: center;
}

#DontHaveAccForm {
    display: flex;
    flex-direction: column;
}

#DontHaveAccForm div {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

#DontHaveAccForm div label {
    text-align: center;
    padding: 1rem;
    width: 10rem;
    background: var(--bg-color);
    border-radius: 6px;
}

#DontHaveAccForm div input {
    width: 300px;
    border: 0;
    border-radius: 4px;
    background: var(--bg-color-s);
    padding: 10px;
    font-weight: bold;
    color: var(--bg-color-dark);
}


#DontHaveAccForm div input:focus {
    outline: 0;
    background: var(--primary-color);
    transition: 0.4s;
}

::placeholder {
    color: var(--bg-color);
}

#register {
    margin-top: 2rem;
    padding: 10px;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    background: var(--primary-color);
}

#register:hover {
    cursor: pointer; 
    background: var(--secondary-color);
}

/* FORM-SEARCHCORTE*/

.form-seachcorte {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.form-seachcorte input {
    width: 300px;
    border: 0;
    border-radius: 4px;
    background: var(--bg-color-s);
    padding: 10px;
    font-weight: bold;
    color: var(--bg-color-dark);
}


.form-seachcorte input:focus {
    outline: 0;
    background: var(--primary-color);
    transition: 0.4s;
}

.form-seachcorte button {
    padding: 0.875rem;
    width: fit-content;
    background: var(--primary-color);
    border: none;
    border-radius: 4px;
}

.form-seachcorte button:hover {
    transition: 0.4s;
    background: var(--secondary-color);
    cursor: pointer;
}

.final-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-screen button{
    background: var(--primary-color);
    padding: 10px;
    border: 0;
    border-radius: 4px;
    margin-top: 10px;
}

.final-screen button:hover {
    transition: 0.4s;
    background: var(--secondary-color);
}