@model fastBarberTG.Models.HorariosMarcadosModel
@{
    Layout = null;
    ViewBag.Title = "CostumerDetails";
}


<div class="costumer-detail">
    <div class="details">
        <div><span class="material-symbols-outlined">close</span></div>
        <div class="costumer-description">
            <div class="circle-status red"></div>
            <h2>@Model.Nome</h2> @*Aqui vai o nome do cliente*@
            <img src="~/Content/Logo/circlepng.png"/>
            <h2 class="toPurple">Model.HoraCorte()</h2> @*Aqui vai o horário marcado pelo cliente*@
            <img src="~/Content/Logo/circlepng.png"/>
        </div>
        <div class="sensitive-info">
            <p>Data nascimento - <span>@Model.DataNasc</span></p>
            <p>CPF - @Model.Cpf</p>
        </div>
        <div class="button-haircut">
            <button>START HAIRCUT</button>
        </div>
        <div class="elapsed-time">
            <h3>Tempo decorrido</h3>
            <img src="~/Content/Logo/circlepng.png"/>
            <h3>00:00</h3>
        </div>
    </div>
</div>
<link href="~/Content/BarberControl/_BarberControlCostumerDetails.css" rel="stylesheet" type="text/css" />