
@{
	<link href="~/Content/BarberControl/_BarberControlCostumerDetails.css" rel="stylesheet" type="text/css" />
    ViewBag.Title = "CostumerDetails";
}



<div class="costumer-detail">
    <div class="details">
	    <div><span class="material-symbols-outlined">close</span></div>
	    <div class="costumer-description">
		    <div class="circle-status red"></div>
		    <h2>Douglas Silva</h2> @*Aqui vai o nome do cliente*@
		    <img src="~/Content/Logo/circlepng.png"/>
		    <h2>AM <span class="toPurple">08:00</span></h2> @*Aqui vai o horário marcado pelo cliente*@
		    <img src="~/Content/Logo/circlepng.png"/>
		    <h2>20 Anos</h2> @*Aqui vai a idade do cliente, realizando o calculo pelo formulário informado*@
	    </div>
	    <div class="sensitive-info">
		    <p>Data nascimento - <span>24/10/2003</span></p>
		    <p>CPF - 442.241.357-32</p>
	    </div>
	    <div class="button-haircut">
		    <button>START HAIRCUT</button>
	    </div>
	    <div class="elapsed-time">
		    <h3>Tempo decorrido</h3>
		    <img src="~/Content/Logo/circlepng.png"/>
		    <h3>00:00</h3>
	    </div>
    </div>
</div>