
@{
	<link href="~/Content/BarberControl/_BarberControlIndex.css" rel="stylesheet" type="text/css" />
    ViewBag.Title = "Index";
}

<div class="marked-users">
	<h1>Horários agendados</h1>
    
	<div class="flex-control">
		<div class="DateTimeNow">
			<h2>Segunda-Feira <span class="toPurple">04/09</span></h2>
			<img src="~/Content/Logo/circlepng.png"/>
			<h2>AM <span id="timeNow">08:00</span></h2> @*Aqui deve ir função para atualizar horário de hora em hora*@
		</div>
		<button class="btn-filter"><span class="material-symbols-outlined">filter_alt</span>Filtrar</button>
	</div>
    
	<div class="time-costumers">
		<h2>Manhã</h2>
		<div class="costumer">
			
			<div class="costumer-description">
				<div class="circle-status red"></div>
				<h2>Douglas Silva</h2> @*Aqui vai o nome do cliente*@
				<img src="~/Content/Logo/circlepng.png"/>
				<h2>AM <span class="toPurple">08:00</span></h2> @*Aqui vai o horário marcado pelo cliente*@
				<img src="~/Content/Logo/circlepng.png"/>
				<h2>20 Anos</h2> @*Aqui vai a idade do cliente, realizando o calculo pelo formulário informado*@
			</div>
			<div class="costumer-contact">
				<span class="material-symbols-outlined">
					call
				</span>
				<p>(16) 99148-2005</p>
			</div>
		</div>
	</div>
	<div class="time-costumers">
		<h2>Tarde</h2>
		<div class="costumer">
			
			<div class="costumer-description">
				<div class="circle-status green"></div>
				<h2>Douglas Silva</h2> @*Aqui vai o nome do cliente*@
				<img src="~/Content/Logo/circlepng.png"/>
				<h2>AM <span class="toPurple">08:00</span></h2> @*Aqui vai o horário marcado pelo cliente*@
				<img src="~/Content/Logo/circlepng.png"/>
				<h2>20 Anos</h2> @*Aqui vai a idade do cliente, realizando o calculo pelo formulário informado*@
			</div>
			<div class="costumer-contact">
				<span class="material-symbols-outlined">
					call
				</span>
				<p>(16) 99148-2005</p>
			</div>
		</div>
	</div>
    
	<div class="time-costumers">
		<h2>Noite</h2>
		<div class="costumer">
			
			<div class="costumer-description">
				<div class="circle-status yellow"></div>
				<h2>Douglas Silva</h2> @*Aqui vai o nome do cliente*@
				<img src="~/Content/Logo/circlepng.png"/>
				<h2>AM <span class="toPurple">08:00</span></h2> @*Aqui vai o horário marcado pelo cliente*@
				<img src="~/Content/Logo/circlepng.png"/>
				<h2>20 Anos</h2> @*Aqui vai a idade do cliente, realizando o calculo pelo formulário informado*@
			</div>
			<div class="costumer-contact">
				<span class="material-symbols-outlined">
					call
				</span>
				<p>(16) 99148-2005</p>
			</div>
		</div>
	</div>
</div>


			@*<div class="costumer">
						
				<div class="costumer-description">
					<div class="circle-status yellow"></div>
					<h2>Douglas Silva</h2>  Aqui vai o nome do cliente
					<img src="~/Content/Logo/circlepng.png"/>
					<h2>AM <span class="toPurple">08:00</span></h2> Aqui vai o horário marcado pelo cliente
					<img src="~/Content/Logo/circlepng.png"/>
					<h2>20 Anos</h2> Aqui vai a idade do cliente, realizando o calculo pelo formulário informado
				</div>
				<div class="costumer-contact">
					<span class="material-symbols-outlined">
						call
					</span>
					<p>(16) 99148-2005</p> Aqui vai o telefone do cliente.
				</div>
			</div>*@