
@{
    ViewBag.Title = "_DontExistsClient";
    Layout = null;
}

<div class="final-screen">
    <h2>Cliente não existe, por gentileza registrar CPF</h2>
    <button type="button" onclick="fastBarber.Retornar()">RETORNAR</button>
</div>

