
@{
	Layout = null;
	ViewBag.Title = "Index";
	<link href="~/Content/MarcaCorte/_MarcaCorteIndex.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/libcss.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/iziToast.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/iziToast.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="~/scripts/iziToast.min.js" type="text/javascript"></script>
    <script src="~/scripts/iziToast.js" type="text/javascript"></script>
}

<body>
	<main>
		<div id="renderDiv">
			<div class="Question" id="Question">
				<h2>Já possui cadastro?</h2>
				<div class="button-control">
					<button id="btn-haveacc">SIM</button>
					<button id="btn-donthaveacc">NÃO</button>
				</div>
			</div>
            <input type="hidden" id="cpf-cliente"/>
			<div class="DontHaveAcc" style="display: none;" id="DontHaveAcc">
				<form id="DontHaveAccForm" onsubmit="fastBarber.cadastrarCostumer()">
					<div>
						<label for="nome">Nome</label>
						<input id="input-Nome" type="text" name="Nome" placeholder="Insira seu nome..."/>
					</div>
					<div >
						<label for="subname">Sobrenome</label>
						<input id="input-subnome" type="text" name="Sobrenome" placeholder="Insira seu sobrenome..."/>
					</div>
					<div >
						<label for="Cpf">CPF</label>
						<input id="input-cpf" type="text" name="Cpf" maxlength="11" oninput="fastBarber.applyCpfMask(this)" placeholder="***.***.***-**"/>
					</div>
					<div >
						<label for="DataNasc">Data Nascimento</label>
						<input id="input-datanasc" type="date" name="DataNasc" placeholder="**/**/****"/>
					</div>
					<div >
						<label for="Tel">Telefone</label>
						<input id="input-tel" type="text" name="Tel" oninput="fastBarber.applyPhoneMask(this)" placeholder="(16) 99999-2005" maxlength="15"/>
					</div>
                    <div>
                        <label for="Email">Email</label>
                        <input id="input-email" type="email" name="Email" placeholder="seuemail@teste.com" />
                    </div>
					<div>
						<button id="register" type="submit">REGISTRAR</button>
					</div>
				</form>
			</div>
			<div id="HaveAcc" style="display: none;">
				<div>
					<form class="form-seachcorte" onsubmit="fastBarber.searchHorario()">
                        <h1>Insira seu CPF</h1>
                        <input id="cpf-input" type="text" name="Cpf" maxlength="11" oninput="fastBarber.applyCpfMask(this)" placeholder="***.***.***-**" />
                        <button type="submit">BUSCAR</button>
                        <input type="hidden" id="search-cpfcliente"/>
                    </form>
			</div>
		</div>
            <div id="response" style="display: none;">

            </div>
            <div id="final-screen" style="display: none;" class="final-screen">
                <div class="uk-flex uk-flex-center uk-flex-middle uk-gap-small">
                    <div class="bg-done">
                        <span class="material-symbols-outlined">
                            done
                        </span>
                    </div>
                    <h1>Horário marcado!</h1>
                </div>
                <h1>Deseja marcar outro horário no sistema?</h1>
                <button type="button" onclick="fastBarber.Retornar()">RETORNAR</button>
            </div>
	</main>
</body>
<script src="~/scripts/scriptPages/_MarcarCorte.js"></script>
<script>
    $("#btn-donthaveacc").click(function () {
        $("#Question").hide();
        $("#DontHaveAcc").show("slow");
    })

    $("#btn-haveacc").click(function () {
        $("#Question").hide();
        $("#HaveAcc").show("slow");
    })

    fastBarber.init({
        urls: {
            newCostumer: '@Url.Action("NewCostumer")',
            searchHorario: '@Url.Action("procurarCortes")'
        }
    })


</script>

